
/* NavBar */
.navbar {
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b4b7ba;
    position: sticky;
    top: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #f0f1f1;
    text-align: center;
    padding: 16px 16px;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: #a2a5a9;
}

/* Alert Bars */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: #f0f1f1;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: #f0f1f1;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


/* Paralax photo */
body, html {
  height: 100%;
}

.parallax {
    position: relative;

  /* The image used */
  background-image: url('img_parallax.jpg');

  /* Full height */
  height: 50%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed 
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}*/

/* Order form */

/* Three columns side by side */
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* Main CSS */

body {
    background-color: #585c5f;
}

h1 {
    font-family: monospace;
    color: #f0f1f1;
}

h2 {
    font-family: monospace;
    color: #f0f1f1;
    text-align: center
}

p {
    font-family: monospace;
    color: #f0f1f1;
    font-size: 150%;
}

.title {
    position: absolute;
    top: 50%;
    left: 46%;
    height: 30%;
    width: 50%;
    font-size: 300%

}

.titletext {

<<<<<<< Updated upstream
=======
@media screen and (max-width: 800px) {
    .contact, .parallax, .alert, .navbar {
        width 100%;
    }
>>>>>>> Stashed changes
}
