
/* NavBar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b4b7ba;
    position: sticky;
    top: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #f0f1f1;
    text-align: center;
    padding: 16px 16px;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: #a2a5a9;
}


/* Alert Bars */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: #f0f1f1;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: #f0f1f1;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


/* Paralax photo */
body, html {
  height: 100%;
}

.parallax {
    position: relative;

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Contact CSS */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact {
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    float: left;
}

/* Main CSS */

body {
    background-color: #585c5f;
    font-family: monospace;
}

h1 {
    font-family: monospace;
    color: #f0f1f1;
}

h2 {
    font-family: monospace;
    color: #f0f1f1;
    text-align: center
}

p {
    font-family: monospace;
    color: #f0f1f1;
    font-size: 150%;
}

.title {
    position: absolute;
    top: 50%;
    left: 20%;
    height: 30%;
    width: 50%;
    font-size: 200%

}

.titletext {

}
